
<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
    <!-- ta kontejner v navbaru se je prilagajal drugace kot tisti za vsebino, ceprav
    sta oba enake velikosti, dodal padding px-3 ker navbar avtomatsko odvzame padding iz kontejnerja -->
    <div class="container-lg px-3" >

        <!-- navbar logo -->
        <a class="navbar-brand" routerLink="/">
            <img src="/assets/slike/logo_svetel.png" alt="Logo" id="headerLogo"> <b><i>Tap & Play</i></b>
        </a>

        <!-- za kolaps pri majhnih zaslonih -->
        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"> </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

            <!-- Search form -->
            <div class="ml-auto">
                <button routerLink="/search"class="btn btn-sm btn-outline-light my-2 my-sm-0" type="submit"> <i class="fas fa-search"></i>  Iskanje</button>
            </div>
                
            <div *ngIf="!jePovezava()">
              <a class="nav-link disabled"><i class="fas fa-exclamation-triangle"></i></a>
            </div>

            <!-- dropwdown meni -->
            <ul class="navbar-nav ml-2">

                <li class="nav-item dropdown " >
                    <a id="testMenuRazlika1" class="nav-link dropdown-toggle"  href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user-circle"></i>
                    </a>
                    <div *ngIf="jePrijavljen()" id="testMenuRazlika2" class="dropdown-menu dropdown-menu-right"  id="dropdownMeni" aria-labelledby="navbarDropdown">
                        <a *ngIf="loaded" class="dropdown-item disabled" href="#"> {{uporabnik.ime}} {{uporabnik.priimek}}</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" routerLink="/profil" ><i class="fas fa-user"></i> Profil</a>
                        <a class="dropdown-item" routerLink="/mojeTekme"><i class="fas fa-history"></i> Moje tekme</a>
                        <a class="dropdown-item" routerLink="/nastavitve"><i class="fas fa-cog"></i> Nastavitve</a>
                        <a class="dropdown-item" href="#" (click)="odjava()"><i class="fas fa-sign-out-alt"></i> Odjava</a>
                    </div>

                    <div *ngIf="jePrijavljen() == false" id="testMenuRazlika2" class="dropdown-menu dropdown-menu-right"  id="dropdownMeni" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item disabled" href="#"> Gost </a>
                        <div class="dropdown-divider"></div>

                        <a class="dropdown-item" routerLink="/login"> Prijava  <i class="fas fa-sign-in-alt"></i></a>

                    </div>
                </li>
            </ul>

        </div>


    </div>
</nav>
