
{{> header this}}
<div class="container-lg h-100">

    <div class="row">
        <!--prva kartica-->
        {{> profilNav this}}

        <!--Druga kartica-->
        <div class="col-md-8 col-sm-12">
            <div class="card  border-dark">

                <!--Ime kartice-->
                <div class="card-header bg-dark text-white ">Zgodovina</div>


                <!--Tle se začnejo podatki-->
                <div class="card-body px-1 py-1">

                    <!-- zavijem da je kartica skrollable in se ne preliva cez -->
                    <div class="scrollable" style="overflow-y: auto;">


                        <!-- seznam vseh iger za test samo 9 x iger dodanih -->
                        <ul class="list-group">

                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a class="text-dark" href="#"> Ljubljana, Rožna cesta 32 <br>17.1.2020 | 18:30 </a>
                                <span class="badge badge-danger badge-pill">Zaključena</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a class="text-dark" href="#">Ljubljana, Litijska cesta 4 <br>18.5.2020 | 16:20</a>
                                <span class="badge badge-danger badge-pill">Odpadla</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a class="text-dark" href="#">Ljubljana, Topniška 7 <br>16.7.2020 | 17:15</a>
                                <span class="badge badge-danger badge-pill">Zaključena</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a class="text-dark" href="#">Ljubljana, Rožna cesta 32 <br>17.1.2020 | 18:30</a>
                                <span class="badge badge-danger badge-pill">Zaključena</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a class="text-dark" href="#">Ljubljana, Litijska cesta 4 <br>18.5.2020 | 16:20</a>
                                <span class="badge badge-danger badge-pill">Odpadla</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a class="text-dark" href="#">Ljubljana, Topniška 7 <br>16.7.2020 | 17:15</a>
                                <span class="badge badge-danger badge-pill">Zaključena</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a class="text-dark" href="#">Ljubljana, Rožna cesta 32 <br>17.1.2020 | 18:30</a>
                                <span class="badge badge-danger badge-pill">Zaključena</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a class="text-dark" href="#">Ljubljana, Litijska cesta 4 <br>18.5.2020 | 16:20</a>
                                <span class="badge badge-danger badge-pill">Zaključena</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a class="text-dark" href="#">Ljubljana, Topniška 7 <br>16.7.2020 | 17:15</a>
                                <span class="badge badge-danger badge-pill">Zaključena</span>
                            </li>


                        </ul>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{{> footer}}