.map-container {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 450px;
  }
  
  .map-frame {
    height: 100%;
  }
  
  #map {
    height: 100%;
  }

  .mat-spinner-color::ng-deep circle{
    stroke: #135add !important;
    
  }

  .mat-spinner-color {
    width: 100px
  }

  .spinner-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }