
<app-header></app-header>


    <div class="container-lg h-100">
      <div class="ustvari">
        <div class="card border-dark" style="padding-bottom: 10px;" >

          <div class="card-header bg-dark text-white">Ustvari tekmo</div>


          
              
        <div class="map-container">
          <div class="map-frame">
            <div id="map"></div>
          </div>
        </div>

          

          <div class="col-sm-12 col-md-12 col-lg-12">
            <form name="ustvari" method="post" action="/ustvari_tekmo" onsubmit="return validacijaTekmaUra()">

              <div class="">



                  <div class="form-group">

                      <input id="Input_Okno_LAT"  readonly type="hidden" class="form-control" name="lat" [(ngModel)]="podatki.lat">
                  </div>

                  <div class="form-group">

                      <input id="Input_Okno_LNG"  readonly type="hidden" class="form-control" name="lng" [(ngModel)]="podatki.lng">
                  </div>

                  <div class="form-group">
                      <label class="">Kraj</label>
                      <input id="Input_Okno_Kraj"  readonly type="text" class="form-control" name="kraj" [(ngModel)]="podatki.kraj">
                  </div>

                <div class="form-group">
                  <label class="">Datum</label>
                  <input type="date" class="form-control" name="datum" [(ngModel)]="podatki.datum">
                </div>

                <div class="form-group">
                  <label class="">Ura</label>
                  <input type="time" class="form-control" name="ura" [(ngModel)]="podatki.ura">
                </div>

                <div class="form-group">

                  <label class="">Število igralcev</label>

                  <div class="form-row col-sm-12 col-md-12 col-lg-12">

                    <div class="form-group col-md-4">
                      <label class="">Min: </label>
                      <input type="number" min="4" max="16" step="2" value="4" class="form-control" name="minIgralcev" [(ngModel)]="podatki.min">
                    </div>

                    <div class="form-group col-md-4">
                      <label class="">Max: </label>
                      <input type="number" min="4" max="16" step="2" value="6" class="form-control" name="maxIgralcev" [(ngModel)]="podatki.max">
                    </div>

                    <div class="form-group col-md-4">
                      <label class="">Že prijavljeni: </label>
                      <input type="number" min="0" value="0" class="form-control" name="prijavljeni" [(ngModel)]="podatki.prijavljeni">
                    </div>

                  </div>

                </div>

                <div class="form-group">
                  <label class="">Opombe</label>
                  <textarea name="komentarji" class="form-control" rows="4" cols="36"  placeholder="Vnesite dodatne opombe"></textarea>
                </div>
                <div id="obvestilo" style="visibility: hidden" class="alert alert-danger">

                </div>
                <div class="text-center col-sm-12 col-md-12 col-lg-12">
                  <input type="submit" class="btn btn-success col-md-3 mt-1" value="Ustvari">
                  <input type="reset" class="btn btn-warning col-md-3 mt-1" value="Ponastavi">
                  <a href="/" class="btn btn-danger col-md-3 mt-1">Prekliči</a>
                </div>


              </div>
            </form>
          </div>

        </div>
      </div>
    </div>

<!-- link do javascript kode | NE MENJAT VRSTNEGA REDA !!! -->
<script src="js/UstvariTekmoSkripta.js"></script>

