/* ZACETEK SKUPNO ================================================================================= */

/* KONEC SKUPNO =================================================================================== */




/* ZACETEK TJAS =================================================================================== */

/* KONEC TJAS ===================================================================================== */




/* ZACETEK MATJAZ ================================================================================= */

/* KONEC MATJAZ =================================================================================== */




/* ZACETEK MITJA ================================================================================== */
.ustvari {
    align-items: center;
    margin-left: 50%;
    margin-top: 100px;
}
/* KONEC MITJA ==================================================================================== */




/* ZACETEK RIHARD ================================================================================= */

/* KONEC RIHARD =================================================================================== */