/* ZACETEK SKUPNO ================================================================================= */

/* KONEC SKUPNO =================================================================================== */




/* ZACETEK TJASS =================================================================================== */
.registracija{
    padding: 20px;
}


.imeZgoraj{
    display: none;
}


@media only screen and (max-width: 575px) {

    .slika{
        display: none;
    }

    .imeZgoraj{
        display: block;
    }

}

#headerLogoPrijava{
    width: 30px;
    margin-right: 5px;
}

.checked{
    color: orange;
}

/* KONEC TJAS ===================================================================================== */




/* ZACETEK MATJAZ ================================================================================= */


/* krogec za sliko*/
.profilka{
    border-radius: 50%;
}


.list_item{
    padding: 20px;
}
.sidebar .nav-list li.active{
    background-color: tomato;
    color: black;
}

.sidebar .nav-list li.noactive{
    color: black;
}

.sidebar .nav-list li{
    position: relative;
    cursor: pointer;
    border-radius: 3px;
}

.list-text{
    font-size: 17px;
    color: black;
}

.noactive:hover{
    background-color: lightgray!important;
}

.info{

    font-weight: bolder;
    font-size: 20px;
    padding: 3px;
}

.border-info{
    border-style: solid!important;
    border-width: 4px!important;
}
.profil{
    border-radius: 50%;
}

.interactive{
    color: darkblue;
    font-weight: bold;
    font-size: 20px;
}

.checked {
    color: orange;
}

/* KONEC MATJAZ =================================================================================== */




/* ZACETEK MITJA ================================================================================== */

.naslov {
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: lightblue;
}

.profile-name{
    display: table-cell;
    vertical-align: middle;
}

.profil-dropdown {
    display: table;
    padding: 2px;
    background-color: lightblue;
}

.dropdown-meni{
    display: none;
}

.dropdown-meni a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.profil-dropdown:hover .dropdown-meni{
    display: block;
}

.profile-pic {
    float: right;
}

.ustvari {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

/* KONEC MITJA ==================================================================================== */




/* ZACETEK RIHARD ================================================================================= */

/* KONEC RIHARD =================================================================================== */
