
<div class="container-xl h-100">
    <div class="row h-25"></div>
        <div class="row h-50">
            <div class="col h-100 slika">
                <div class="col" style="text-align: center;">
                    <img src="/assets/slike/logo_temen.png" class="img-fluid" alt="Logo" width="200">
                    <h1 class="display-4">Ops! Prišlo je do napake</h1>
                    <h1 class="display-5">Iskana spletna stran ne obstaja</h1>
                    <br>
                    <button (click)="vrni()" type="button" class="btn btn-outline-dark">Vrni se na začetno spletno stran</button>
                </div>
            </div>

           
            