<app-header></app-header>
<!-- link do leaflet cssja in skripte | NE MENJAT VRSTNEGA REDA !!! -->

<!-- vsebina kontejner ki ni header -->
<div class="container-lg" style="height:100%;">

    <div class="row" style="height:100%;">

        <div class="col-sm-8" style="height:100%">

            <div class="card border-dark" style="height:100%" >
                <div class="card-header bg-dark text-white">Zemljevid tekem</div>
                <div class="card-body px-0 py-0">
                    <app-map></app-map>

                </div>

            </div>

        </div>

        <div class="col-sm-4 " style="height:100%;">

            <div class="row" style=" height:90%;">
                
                <div class="card  border-dark" style="width:100%; height:100%;" >
                    
                    <div class="card-header bg-dark text-white">Seznam tekem</div>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-outline-dark">
                          <input (click)=datumGor() type="radio" name="options" id="option1" autocomplete="off" checked> Datum <i class="fas fa-arrow-up"></i>
                        </label>
                        <label class="btn btn-outline-dark">
                          <input (click)="datumDol()"type="radio" name="options" id="option2" autocomplete="off"> Datum <i class="fas fa-arrow-down"></i>
                        </label>
                        
                      </div>

                      
                    <div class="card-body px-1 py-1" style="height:100%;">
                        

                      <p *ngIf="niTekem" class="text-dark" style="text-align: center;"> Ni nobene tekme na voljo </p>
                        

                        <!-- zavijem da je kartica skrollable in se ne preliva cez -->
                        <div class="scrollable" style="height:100%; overflow-y: auto;">

                            <!-- seznam vseh iger za test samo 9 x iger dodanih -->
                            <ul class="list-group" style="width:100%; height:100%;">

                                <div *ngFor="let tekma of tekme | paginate: { itemsPerPage: 10, currentPage: p , totalItems: total}">

                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <a id="tekma" class="text-dark" routerLink="/tekma/{{tekma._id}}"> {{tekma.kraj}},<br>{{tekma.datum}} | {{tekma.ura}} </a>
                                        <span *ngIf="tekma.status == stat" class="badge badge-primary badge-pill">{{tekma.prijavljeni}}/{{tekma.maxIgralcev}}</span>
                                        <span *ngIf="tekma.status != stat" class="badge badge-danger badge-pill"><i class="far fa-times-circle"></i> {{tekma.prijavljeni}}/{{tekma.maxIgralcev}}</span>
                                    </li>

                                </div>
                                <pagination-controls class="align-self-end"
                      (pageChange)="getPage($event)" 
                      autoHide="true" previousLabel="Nazaj"
                      nextLabel="Naprej" 
                      ></pagination-controls>

                            </ul>
                            
                            

                        </div>
                        
                        

                    </div>
                </div>

            </div>

            <div *ngIf="jePrijavljen()" class="row py-2 px-2" style="height:10%;">
                <!-- gumb za ustvaritev nove igre -->
                <button type="button" routerLink='/ustvariTekmo' class="btn btn-primary " id="gumbNovaIgra"><i class="fas fa-plus mr-2"></i>Ustvari novo tekmo</button>
            </div>

            <div *ngIf="jePrijavljen() == false"class="row py-2 px-2" style="height:10%;">
                <!-- gumb za ustvaritev nove igre -->
                <button disabled="true" type="button" routerLink='/ustvariTekmo' class="btn btn-primary " id="gumbNovaIgra">Za ustvarjanje tekme je potrebna prijava</button>
            </div>


        </div>


    </div>

</div>



